body {
  color: white;
  max-width: 1920px;
  max-height: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("wallhaven-96o8qd_3840x2160.png");
  background-repeat: no-repeat;
}
h1 {
  color: cyan;
}
h2 {
  color: yellow;
}
h1,
h2 {
  text-align: center;
}
p {
  text-align: center;
  line-height: 1.5;
}
